/*Schrift*/
@font-face {
    font-family: 'Jost';
    src: url('../schrift/Jost/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

/* Farb Variabeln */
:root {
    --farbe-hintergrund: #F7D8B9;
    --farbe-balken:rgba(255, 153, 64, 0.70);   /* FF9940 70% */
    --farbe-button-bg: rgba(255, 153, 64, 0.39);   /* FF9940 39% */
    --farbe-orange: #FF9940;
    --farbe-rot: #F16450;  
    --farbe-rot-hell: rgba(241, 100, 80, 0.78);   /* F16450 78% */
    --farbe-rot-sehr-hell: rgba(241, 100, 80, 0.59);   /* F16450 59% */
}

/* Browser-Standarts entfernen */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: var(--farbe-hintergrund);
    min-height: 100vh;
}

/*Seiten-layout*/

.page-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 200vh;
}

/* Orangene-Seitenbalken*/

.side-bar {
    width: 40px;
    background-color: var(--farbe-balken);
    flex-shrink: 0;
}

/* Mittlerer Inhalt */

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    gap: 20px;
    background-color: var(--farbe-hintergrund);
}

/* Header und Logo */

.header {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo-img {
    width: 90px;       
    height: 90px;
    object-fit: contain;
}

.logo-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logo-titel {
    font-size: 36px;
    font-weight: 700;       
    color: var(--farbe-orange);
    letter-spacing: 3px;
}

.logo-tagline {
    font-size: 14px;
    font-weight: 500;       
    color: var(--farbe-orange);
}

/* Suchformular */ 

#searchform {
     display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

#searchform input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--farbe-button-bg);
    color: var(--farbe-rot);
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

#searchform input::placeholder {
    color: var(--farbe-rot-sehr-hell);
}

#searchform button {
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background-color: var(--farbe-button-bg);
    color: var(--farbe-rot);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

#searchform button:hover {
    background-color: var(--farbe-orange);
    color: var(--farbe-rot)
}

/* Sonnen Animation */ 
.sun-wrapper {
    width: 100%;
    max-width: 550px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#sun-animation {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* versteckte karten - nach suche mit javascript sichtbar */
.hidden {
    display: none;
}


/* Ergebnis Bereich */ 

#result {
    display: none;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    gap: 16px;
}

/* Sichtbar nach Suche*/

#result:not(.hidden) {
    display: flex;
}


/* ortsname + Datum */ 
#city-name {
    text-align: center;
    font-size: 16px;
    color: var(--farbe-rot-hell);
    font-weight: 500;
}

/* Heute Label */
.heute-label {
    display: inline-block;     
    padding: 8px 20px;
    background-color: var(--farbe-button-bg);
    border-radius: 30px;
    color: var(--farbe-rot);
    font-weight: 700;
    font-size: 15px;
    align-self: flex-start;    
}

/* 4 Karten nebeneinander */

#karten-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Einzelne Karte */
.zeit-karte {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 16px 12px;
    background-color: var(--farbe-button-bg);
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.zeit-karte:hover {
    background-color: var(--farbe-orange);
}


/* Label oben  zb Morgendämmerung */
.karte-label {
    font-size: 12px;
    font-weight: 500;
    color: var(--farbe-rot-hell);
    text-align: center;
}

/* Grosse Zeit in der Mitte */
.karte-zeit {
    font-size: 36px;
    font-weight: 700;
    color: var(--farbe-rot);
}

/* "Tippe für Details" unten */
.karte-tipp {
    font-size: 11px;
    color: var(--farbe-rot-sehr-hell);
}

.karte-icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Tagesverlauf Button */ 

#tagesverlauf-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--farbe-button-bg);
    color: var(--farbe-rot);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.2s;
}

#tagesverlauf-btn:hover {
    background-color: var(--farbe-orange);
    color: var(--farbe-rot);
}

/* Detail Boxen */ 
.detail-box {
    position: relative;
    padding: 20px 24px;
    background-color: var(--farbe-button-bg);
    border-radius: 16px;
    max-width: 350px;
    cursor: pointer;
}


/* Sonnen Icon oben rechts */
.detail-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 40px;
    transition: transform 0.3s ease;
}

.detail-icon:hover {
    transform: scale(1.5);
}

.detail-titel {
    font-size: 14px;
    font-weight: 700;
    color: var(--farbe-rot);
    margin-bottom: 8px;
    text-align: center;
}


.detail-text {
    font-size: 13px;
    color: var(--farbe-rot-hell);
    text-align: center;
    line-height: 1.5;
}


#detail-morgen {
    margin-left: -60px; /* unter Morgendämmerung - links */
}

#detail-aufgang {
          margin-left: 100px;  /* unter Sonnenaufgang - mitte links */
    
}

#detail-untergang {
    align-self: flex-start;
     margin-left: 340px; /* unter Sonnenuntergang - mitte rechts */
}

#detail-abend {
         align-self: flex-end; /* unter Abenddämmerung - rechts */
         margin-right: -85px;
}

/* Sonne links */
.bg-sonne-links {
    left: -600px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

/* Sonne Rechts */
.bg-sonne-rechts {
    right: -600px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) scaleX(-1);
}

.bg-sonne {
    position: fixed;
    width: 1700px;     
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: opacity 0.8s ease;
}

.bg-sonne.sichtbar {
    opacity: 0.15;
}